.main {
  padding-left: rem(80px);
  background-color: #ebefff;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.title {
  border-bottom: 1px solid #1f32c4;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
