.navbar {
  width: rem(80px);
  height: 100vh;
  padding: var(--mantine-spacing-md);
  display: flex;
  background: #1f32c4;
  flex-direction: column;
  border-right: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.navbarMain {
  flex: 1;
  margin-top: rem(50px);
}

.link {
  width: rem(50px);
  height: rem(50px);
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-gray-0);

  &:hover {
    background-color: (var(--mantine-color-gray-5));
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-gray-2);
      color: var(--mantine-color-dark-9);
    }
  }
}
